<ion-view view-title="Create a Game">
  <ion-content class="padding">
    <h3>Can't find a game you want to join?</h3>
    <h3>Create a new game here!</h3>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>

    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Sport</span>
    <select>
            <option>Basketball</option>
            <option>Soccer</option>
            <option>Tennis</option>
            <option>Ping Pong</option>
            <option>Pool</option>
            <option>Sand Volleyball</option>
    </label>
  </select>
</div>
  <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Location</span>
    <select>
            <option>Dedman Rec Center</option>
            <option>Intramural Field</option>
            <option>Sand Volleyball Courts</option>
            <option>Track</option>
            <option>Lacrosse Fields</option>
    </label>
  </select>
</div>

   <div class="list">
        <label class="item item-input">
          <span class="input-label">Time</span>
          <input type="time" placeholder="Enter Time Here">
        </label>
      </div>


      <button class="button button-full button-calm">
      CREATE NEW GAME!!
      </button>


    


  
  </ion-content>
</ion-view>
