<ion-view view-title="Create a Game">
  <ion-content class="padding">
    <h3>Can't find a game you want to join?</h3>
    <h3>Create a new game here!</h3>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
      <div class="list list-inset">
        <label class="item item-input item-select">
          <input type="text" placeholder="Sport">
          <select>
            <option>Basketball</option>
            <option>Soccer</option>
            <option>Tennis</option>
            <option>Ping Pong</option>
            <option>Pool</option>
            <option>Sand Volleyball</option>
        </label>
      </div>
    

  
  </ion-content>
</ion-view>
